<div class="row margin">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <p *ngIf="!hasCities">No cities available!</p>
    <ul class="list-group" *ngIf="hasCities">
      <!-- <form>
        <label>Add city:</label><br>
        <input type="text" [(ngModel)]="cityName" name="cityN"/>
        <button (click)="onAddCity(cityName)" class="btn" style="margin:5px;" id="btnAdd">Add New City</button>
      </form> -->
      <div>
        <es-lookup
          [lazyLoad] ="true"
          [placeholder]="'Type city name!'"
          [displayField] = "'name'"
          [(ngModel)] = "city"
          name = "cityN"
          [query]="onCitiesQuery"
        ></es-lookup>
        <es-button [disabled]="" placeholder="'save new city'"></es-button>
        <!-- <button (click)="onAddCity()">Add</button> -->
        <!-- [(ngModel)] = "cityName" [query]="onAddCity"--- stajalo dok sam imala svoju metodu, cityName se moglo proslijediti jer sam tad radila sa stringovima, a sad radim sa objektima, pa ne moze -->
      </div>
      <table>
        <thead>
            <tr>
                <th>City Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Temperature</th>
                <th>Pressure</th>
                <th>Humidity</th>
            </tr>
        </thead>
        <tbody *ngFor="let city of citiesFromDatabase" (click)="isClicked(city)">
            <tr>
                <td>{{city.name}}</td>
                <td>{{city?.coord?.lat}}</td>
                <td>{{city?.coord?.lon}}</td>
                <td>{{city?.main?.temp}} °C</td>
                <td>{{city?.main?.pressure}}</td>
                <td>{{city?.main?.humidity}}</td>
            </tr>
        </tbody>
    </table>
    </ul>
    <ul *ngIf="isClickedRow === true">
      <h3> {{city.name}} City Details</h3>
      <table>
        <thead>
            <tr>
                <th>Temperature Feels Like</th>
                <th>Wind Speed</th>
                <th>Country</th>
                <th>Clouds</th>
                <th>Weather description</th>
                <th>Sea Level</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{city.main.feels_like}} °C</td>
                <td>{{city.wind.speed}}</td>
                <td>{{city.sys.country}}</td>
                <td>{{city.clouds.all}}</td>
                <td>{{city.weather.description}}</td>
                <td>{{city.main.sea_level}}</td>
            </tr>
        </tbody>
    </table>
    </ul>
  </div>
</div>
