
      th,
      td {
         padding: 10px;
         border: 1px solid black;
         border-collapse: collapse;
         border: 1px solid #ddd;
         padding: 8px;
      }
        tbody {
          :hover {
            color: gray;
         }
        }
        tbody>tr>:nth-child(4){
          color:green;
      }
      tbody>tr>:nth-child(1){
        color:green;
    }


    table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    tr:nth-child(even){background-color: #f2f2f2;}

    tr:hover {background-color: #ddd;}

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }

    label {
      font-family: Arial, Helvetica, sans-serif;
      color:green;
    }

    input {
      font-family: Arial, Helvetica, sans-serif;
      color:gray;
      border-collapse: collapse;
      font-size: medium;
    }

    button {
      font-family: Arial, Helvetica, sans-serif;
      color:green;
      border-collapse: collapse;
      background-color:rgb(25, 151, 103);
      color: white;
      font-size: medium;
      border: 1px solid green;
    }

    br {
      display: block; /* makes it have a width */
      content: ""; /* clears default height */
      margin-top: 3px; /* change this to whatever height you want it */

    }
    .margin {
      margin-left: 30px;
      margin-top: 10px;
      margin-right: 30px;
    }
